@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}

@media print
{
/*  body *:not(#printArea) {
      display: none;
  }
  body > #printArea {
    display: block;
  }*/

  .page-header, #filterArea, .copyright {
     display: none;
  }
}

#subHeader {
  float: left;
  width: auto;
  color: #a7a4a4;
  font-size:20px;
  padding-left:7px;
}

#cashInHand {
  font-size: 14px;
  padding-bottom: 5px;
}

.tableDataOuter {
  overflow: auto;
}

.col-box {
  width: 12.5%;
  float : left;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}
.navbar-default {
    color: #fff !important;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
    background-color: #B5FF69 !important; 
}
.navbar-brand {
    padding: 7px 15px;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: #0f542a !important; 
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #ecffd8;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
}

@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 15px 10px 25px;
}
.col-box {
  width: 49%;
  float : left;
  padding-right:4px;
}

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #0f542a;
}

.navbar-default .navbar-nav > li > a {

    color: #000;

}

.form-control-disabled {
    height: 34px;
    padding: 6px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: none;    
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ui-menu .ui-menu-item {
    padding: 10px 2em 10px 1em;
    cursor: pointer;
    min-height: 0;
    border-bottom: 1px solid #d7d7d7;
}

.ui-state-focus {
  background-color: #ece4e4 !important;
  border:0;
}

.ui-widget {
    font-family: arial;
    font-size: 1.1em;
    color: #333;
}

.navbar-logo-img, .navbar-brand>img {
  padding-right: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #7CBA3D;
    border-color: #7CBA3D;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #0f542a;
  border-color: #0f542a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0f542a;
  border-color: #0f542a;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0f542a;
  border-color: #0f542a;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0f542a;
  border-color: #0f542a;
}

.h2, h2 {
    font-size: 22px;
    font-weight: 400;
     color:#333;
}

.h3, h3 {
    font-size: 16px;
    font-weight: 400;
    color:#888;
}

a {
    color: #7CBA3D;
    text-decoration: none;
}

a:hover {
    color: #0f542a ;
    text-decoration: none;
}

#toDate, #fromDate {
  width: 120px;
}

.col-md-0 {
  float:left;
}

.stats-bar {
  padding: 8px 25px;
  margin: 5px;
  font-size: 14px;
  border-radius: 6px;  
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.stats-header-batch {
  background-color: #538ba1;
  color: #fff;
  font-weight: normal;
  padding: 10px 25px;
  border: 1px solid #fff;
}

.stats-subheader-batch {
  background-color: #fff;
  color: #538ba1;
}

.stats-header-school {
  background-color: #db832d;
  color: #fff;
  font-weight: normal;
  padding: 10px 25px;
  border: 1px solid #fff;
}

.stats-subheader-school {
  background-color: #fff;
  color: #db832d;
  border: 1px solid #fff2a7;
}


.stats-header-course {
  background-color: #c5b93f;
  color: #fff;
  font-weight: normal;
  padding: 10px 25px;
  border: 1px solid #fff;
}

.stats-subheader-course {
  background-color: #fff;
  color: #b3a419;
}


.stats-header-accounts {
  background-color: #d75475;
  color: #fff;
  font-weight: normal;
  padding: 10px 25px;
  border: 1px solid #fff;
}

.stats-subheader-accounts {
  background-color: #fff;
  color: #e76c94;
}




.dashboard-box {
  border: 1px solid #fff;
  padding: 16px 14px;
  min-width: 100px;
  min-height: 100px;
  color : #444;
  border-radius: 5px;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,0.10);
  /*cursor: pointer;*/
}

canvas {
  background: #fff;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
  padding: 5px;
}

.dashboardWrapper {
  background: #f9fafe;
}

.statsCount {
  float:left;
  padding-right:5px;
}

.dashboard-box-count {
  font-size: 32px;
  font-weight:500;
  text-align: center;
  color: #333;
}

.dashboard-box-text {
  font-size: 14px;
  font-weight:500;
  text-align: center;
  color:#333;
}

#tableData th, #tableHeaderData th {
  background-color: #f3f3f3;
}

#tableData th {
  min-width: 100px;
}

#tableData th:first-child {
  min-width: 20px !important;
  width: 60px;
}

.reportHeader {
  width: 100%;
  background: none;
  background-color: none;
}


.reportHeader tr {
  background: none;
  background-color: none;
}

.reportHeader th {
  font-weight: bold;
}

.reportHeader td {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  background: none;
  background-color: none;
  color: #111;
}

.box-color-1 {
  background-color: #c3dcf8;
}

.box-color-2 {
  background-color: #c3dcf8;
}

.box-color-3 {
  background-color: #ffddbc;
}

.box-color-4 {
  background-color: #ffddbc;
}

.box-color-5 {
  background-color: #ffddbc;
}

.box-color-6 {
  background-color: #f2f6a5;
}

.box-color-7 {
  background-color: #f2f6a5;
}

.box-color-8 {
  background-color: #f2f6a5;
}

#divPieChart, #divDoughnutChart, #divBarChart, #divHorizontalBarChart {
  position: relative;
}

#pieChart, #doughnutChart, #barChart, #horizontalBarChart {
  position: relative;
  height: 10vh;
  width: 10vh;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #7CBA3D;
    border-color: #7CBA3D;
}

#footer {
    border-color: #4b4c4d;
    background-color: #282a2b;
    color:#fff;
    padding:15px 10px;
}

.deleteInfoText {
    font-size: 17px;
    font-weight: bold;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

.form-sub-header {
    font-size: 17px;
    margin: 1px 2px 13px -5px;
    color: #7CBA3D;
}

.formTextAtTop {
    font-size: 13px;
    margin: 0px 10px 13px -1px;
    color: red;
}

.formOptionalText {
    font-size: 12px;
    color: #bdbaba;  
}

.datesList {
    margin-left: 5px;
}

.datesListInner {
    float: left;
    width: 110px;
}

.batchDatesDays {
    color: #8c8282;
}

#divAttendance, #divPortions {
    min-height:150px;
}

#alert_modal .modal-content{
    background-color: #f2ffd6  !important;
}

#alert_modal .modal-body{
    color: #000;
}

@media (min-width: 1000px) {
    #wrapper .container {
      min-height: 470px !important;
    }

    #edit_modal .modal-dialog {
      width: 780px;
      margin: 30px auto;
      overflow-y: initial !important;
    }
    #edit_modal .modal-body{
      max-height: 500px;
      min-height: 200px;
      overflow-y: auto;
    }
    #alert_modal .modal-body{
      height: 56px !important;
    }

    .col-md-6 {
      margin:right: 10px !important;
    }

    .form-row>.col, .form-row>[class*=col-], .row>[class*=col-] {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .bootgrid-header .row, .data_grid-footer .row {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}

.bootgrid-header {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.bootgrid-footer {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.ui-autocomplete
{
    z-index: 99999; //Maximum and top of everything (not absolutely :| )
}

@media (max-width: 500px) {
    #wrapper .container {
        min-height: 370px !important;
    }

    .bootgrid-header .search, .bootgrid-footer .search {
        margin: 0 0px 5px 0;
        width: 100%;
    }

    .bootgrid-header .row {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .bootgrid-footer {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

.page-header {
    padding-bottom: 2px;
    margin: 25px 0 10px;
    border-bottom: 1px solid #eee;
}


/**  Typehead style **/
.bs-example {
    position: relative;
    margin: 100px;
}

.typeahead:focus {
    border: 1px solid #0097CF;
}

.twitter-typeahead {
    width: 100%;
}

.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 4px 0;
    min-width: 280px;
}
.tt-suggestion {
    font-size: 15px;  /* Set suggestion dropdown font size */
    padding: 8px 8px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

.text-error {
    color: #e90303;
}

.alert-box {
    width : 270px !important;
}

.alert-modal-content {
    font-size: 17px;
    color: #2168a4;
    padding: 15px 20px;
}
/** toggle checkbox style **//

.toggle-check-input {
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
}

.toggle-check-text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #c0c0c0;
  padding: 0.25em 0.5em 0.25em 2em;
  border-radius: 1em;
  min-width: 5em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}

.toggle-check-text:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1em;
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
  content: 'No';
}

.toggle-check-input:checked ~ .toggle-check-text {
  background: #8ad869;
  padding-left: 0.5em;
  padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
  content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
  left: 100%;
  margin-left: -1.4em;
}
.toggle-check-text {
  margin-left: -1.1em;
  margin-bottom: -10px;
}

/** bootgrid css **/

.bootgrid-table thead th {
    font-weight: 400;
    color: #f9f9f9;
    border-bottom: 1px solid #f1f1f1 !important;
    border-top: 1px solid #f1f1f1 !important;
    border-right: 0px solid #f1f1f1 !important;
    background: #fbfbfb;
}

.bootgrid-table td {
    vertical-align: middle !important;
}

.bootgrid-table th > .column-header-anchor {
    color: #666;
    padding: 10px 1px !important;
}



.btn-group-xs>.btn, .btn-xs {
    padding: 5px 10px !important;
}

.bootgrid-table th > .column-header-anchor > .icon {
    top: 12px !important;
}

.input-group-addon {
     background-color: #fff; 
}

.search-field {
    content: "Search..."
}

.col-review {
width: 100px;
}

/** bootstrap css **//



.btn-group-xs>.btn, .btn-xs {
    padding: 4px 7px 2px 7px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped>tbody>tr:hover {
    background-color: #ecffd8;
}

body, .dropdown-menu {
    font-family: arial;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #e7e7e7;
}

.actionBar {
    padding:0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dropdown-menu .divider {
    margin: 0;
}


label {
    font-weight: 500;
    color: #777;
    font-size: 14px;
}

/** bootgrid table text wrap css */
table tbody tr td {
/*    white-space: normal !important;
    height: auto !important;*/
}

.has-success .form-control {
    border-color: #ccc !important;
}

.form-control {
    color: #555 !important;
}


.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: red;
}

.text-muted {
    font-size: 12px;
}

.text-danger {
  color: red !important;
}

.modal-open {
    padding-right: 0px !important;
}

body { padding-right: 0 !important }
